@{
    ViewBag.Title = "Nessuna Informazione Spedizione";
    
}

<h2>Nessuna Informazione sulla Spedizione</h2>
<p>Siamo spiacenti, ma non sono disponibili informazioni sulla spedizione inserita.</p>