
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2 class="d-inline title">Fed</h2><p class="d-inline title2 fw-bold fs-3">Ex</p>
    <img src="~/Content/Images/furgone.jpg" alt="furgone fedex" />
</div>

